/* Variables */

// Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Base Font
$base-font-family: 'Cabin', sans-serif;
$base-font-size: 16px;
$base-font-weight: $regular;

/* color */
$very-dark-gray: #252525;
$dark-gray: #423E37;
$medium-gray: #8D8D8D;
$light-gray: #F9F9F7;
$dark-bluish-gray: #575D60;
$brilliant-red: #EA513D;
$moderate-green: #6EB824;
$white: #fff;
$text-color:$dark-gray;

//breakpoints
$width-name: max-device-width;
$break-small: 479px;
$break-medium: 767px;
