/* Variables */

// Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Base Font
$base-font-family: 'Cabin', sans-serif;
$base-font-size: 16px;
$base-font-weight: $regular;

/* color */
$very-dark-gray: #252525;
$brilliant-red: #EA513D;
$light-gray: #F9F9F7;
$dark-gray: #423E37;
$medium-gray: #8D8D8D;
$dark-bluish-gray: #575D60;
$moderate-green: #6EB824;



$text-color:$dark-gray;




body {color: $text-color;font-size: $base-font-size;font-family: $base-font-family;font-weight: $base-font-weight;line-height: 1.6;}
.articleTitle,.heading, .subHeading, .h3,.h4{ font-family: $heading-font-family; color: $text-color;}
.articleTitle { font-size: 11px; line-height: 14px; font-weight: $medium; text-transform: uppercase; color:$medium-gray}
.heading { font-size: 42px; font-weight: $bold; }
.subHeading { font-size: 28px; font-weight: $semi-bold;}
.h3 {font-size: 20px; font-weight: $regular;color:$brilliant-red}


.colorRed{color: $brilliant-red;}
.bgRed{background: $brilliant-red;}

