/* Variables */
/* color */
body, html {
  height: 100%; }

body {
  color: #423E37;
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: #F9F9F7; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

.container-fluid {
  background: #fff; }

.articleTitle, .heading, .subHeading, .h3 {
  font-family: "Cabin", sans-serif;
  color: #423E37; }

.articleTitle {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8D8D8D;
  margin: 10px 0; }

.heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 47px;
  margin: 15px 0; }

.subHeading {
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
  margin: 15px 0; }

.h3 {
  font-size: 20px;
  font-weight: 400;
  color: #EA513D;
  margin: 10px 0; }

.smallText {
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8D8D8D; }

.posTopLeft {
  top: 20%;
  left: 8%; }

.posTopLeft-20 {
  top: 20%;
  left: -20%; }

.posTopRight {
  top: 20%;
  right: -28%; }

.posTop {
  top: 24%; }

.closebtn {
  display: none; }

.moveLeft {
  display: none; }

.desktopLeft {
  float: left;
  padding-left: 40px; }

@media screen and (max-width: 767px) {
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left .4s; }
    .side-collapse-container.out {
      left: 200px; }
  .side-collapse {
    top: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    transition: width .4s;
    z-index: 999; }
    .side-collapse.in {
      width: 0; }
  .moveLeft {
    display: block; }
  .desktopLeft {
    padding-left: 0px; }
  .navbar-collapse {
    background: #fff;
    height: 100%;
    position: relative; }
  .navbar-toggle .icon-bar {
    background: #5a5757; }
  .moveLeft, .moveRight {
    float: none !important; }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    display: block;
    color: #6d6b6a; }
    .closebtn a:foucs {
      color: #6d6b6a; }
    .closebtn:hover {
      text-decoration: none; }
  .padFooter {
    padding: 70px 20px !important; }
  .footer ul {
    padding: 0px 0px !important; }
    .footer ul li {
      line-height: 40px; }
  .footer .social {
    padding: 0px 10px !important; }
    .footer .social ul {
      padding: 0px; }
      .footer .social ul li {
        width: 22px;
        float: left;
        margin: 5px 12px; }
        .footer .social ul li:first-child {
          width: 11px;
          margin-left: 0px; } }

.pdLeftRight-55 {
  padding-left: 55px;
  padding-right: 55px; }

.pdBtm-30 {
  padding-bottom: 30px; }

.pdBtm-40 {
  padding-bottom: 40px; }

.pdBtm-90 {
  padding-bottom: 90px; }

.pdLeft-5 {
  padding-left: 5px; }

.pdTop-70 {
  padding-top: 70px; }

.pdTop-20 {
  padding-top: 20px; }

.padFooter {
  padding: 80px 50px; }

.borderBottom1px {
  border-bottom: solid 1px #f7f7f7; }

.moveLeft {
  float: left; }

.moveRight {
  float: right; }

.bgWhite {
  background: #fff; }

.mrgTop-20 {
  margin-top: 20px; }

.mrgBtm-20 {
  margin-bottom: 20px; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.btn {
  font-size: 14px;
  line-height: 44px;
  padding: 0 20px;
  border: none; }

.btn-primary, .btn-primary:active, .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active {
  background: #EA513D;
  border: none; }

.btn-primary:hover {
  background: #EA513D; }

.btn-secondary, .btn-secondary:active, .btn-secondary.focus, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active {
  background: #575D60;
  border: none;
  color: #fff; }

.btn-secondary:hover {
  background: #575D60;
  color: #fff; }

.link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #423E37; }

.link:hover {
  color: #423E37; }

.bannerArea {
  position: relative; }

.bannerContent {
  background: #fff;
  position: absolute;
  max-width: 445px;
  padding: 40px;
  z-index: 9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.mediumBox {
  max-width: 455px; }

.mediumBox2 {
  max-width: 490px; }

.content {
  position: relative; }

.icon-content {
  padding: 15px 0 20px; }

.navbar-nav a {
  color: #423E37; }

.navbar-nav:hover {
  color: #423E37; }

.list li {
  padding-bottom: 20px; }
  .list li .h3 {
    margin-bottom: 15px; }
  .list li .listContent {
    padding-left: 20px; }

.imageBlock li {
  display: inline-block;
  margin: 0 25px 30px 0; }

.footer {
  background: #252525 url("../images/footerBg.jpg") repeat-x;
  width: 100%;
  height: 100%;
  color: #BFBFBF;
  font-size: 16px; }
  .footer p {
    padding-top: 20px; }
  .footer ul {
    padding: 0px 50px; }
    .footer ul li {
      line-height: 40px; }
  .footer .social {
    padding: 40px 50px; }
    .footer .social ul {
      padding: 0px; }
      .footer .social ul li {
        width: 22px;
        float: left;
        margin: 5px 12px; }
        .footer .social ul li:first-child {
          width: 11px;
          margin-left: 0px; }
