/* Variables */
/* color */
body {
  color: #423E37;
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.articleTitle, .heading, .subHeading, .h3, .h4 {
  font-family: "Cabin", sans-serif;
  color: #423E37; }

.articleTitle {
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8D8D8D; }

.heading {
  font-size: 42px;
  font-weight: 700; }

.subHeading {
  font-size: 28px;
  font-weight: 600; }

.h3 {
  font-size: 20px;
  font-weight: 400;
  color: #EA513D; }

.colorRed {
  color: #EA513D; }

.bgRed {
  background: #EA513D; }
